@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --bg-main-light: #fcfcfc;
    --bg-high-light: #ffffff;
    --bg-highlight-light: #efefef;
    --text-main-light: #474747;  
    --color-light: #9eddff;
    --color-high-light: #006aff;
    --bg-main-dark: #121212; 
    --bg-high-dark: #1e1e1e;
    --bg-highlight-dark: #ffffff1A;
    --text-main-dark: #e1e1e1;
    --color-dark: #2c52a5;
    --color-high-dark: #598dff;
  }